

<div class="scrollable"> 
    <div class="scrollable-content" style="margin-left:200px">
        <!-- Add the cards here -->

      <table>
        <tr>
            <th>&nbsp</th>
         <tr>
            
        <tr>
            <th style="font-size:20px;color:black">Add Employee</th>
         <tr>

          <tr>
            <th>&nbsp</th>
         <tr>
            
        <tr > 
        <th>
             <label value="First Name" />
      	 <input type="input" class="form-control employee" ng-keypress="search($event)"
             placeholder="First Name"/>
       </th>
       </tr>
          <tr>
            <th>&nbsp</th>
         <tr>
       <tr>
       
       <th>
             <label value="Last Name" />
             <input type="input" class="form-control employee" ng-keypress="search($event)"
             placeholder="Last Name"/>
       </th>
       <tr/>
          <tr>
            <th>&nbsp</th>
         <tr>
       <tr>
       <td>
         <label value="Email" />
	   <input type="input" class="form-control employee"  ng-keypress="search($event)"
         placeholder="email"/>
       </td>
       <tr>
            <th>&nbsp</th>
       <tr>
       <td>
         <label value="Adress" />
         <input type="input" class="form-control employee" ng-keypress="search($event)"
         placeholder="Adress"/>
       </td>
      
        <tr>
            <th>&nbsp</th>
         <tr>
       <td>
             <label value="Created" />
      	 <input type="Date" class="form-control employee" ng-keypress="search($event)"
             placeholder="Created"/>
       </td>
     
         <tr>
            <th>&nbsp</th>
         <tr>
  
       <td>
               <label value="Balance" />
      	   <input type="input" class="form-control employee" ng-keypress="search($event)"
             placeholder="Balance"/>
      </td>

	  </tr>   
	</table>	
  	   <a href="../app/#/" style="font-size:20px" class="btn" onclick="window.alert('Empleado creado con éxito')">Enviar</a>

    </div>
</div>

